<!DOCTYPE HTML>
<html>
<head>
	<title>Free Academia Website Template | Home :: w3layouts</title>
	<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
	<link href="css/custom.css" rel="stylesheet" type="text/css" media="all" />
	<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all" />
	<link href="css/font-awesome.css" rel="stylesheet" type="text/css" media="all" />

	<!-- <link href="css/jquery-ui.css" rel="stylesheet" type="text/css" media="all" /> -->
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/responsiveslides.css">
	<script src="js/jquery.min.js"></script>
	<script src="js/responsiveslides.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<!--light-box-->
	<script type="text/javascript" src="js/jquery.lightbox.js"></script>
	<link rel="stylesheet" type="text/css" href="css/lightbox.css" media="screen">
	 <script type="text/javascript">
    window.onload = function () {
      var chart = new CanvasJS.Chart("chartContainer", {
      	//backgroundColor: "#20B2AA",
      	animationEnabled: true, 
		animationDuration: 1000,
        title: {
          text: "Student Result Graph",
          fontSize: 30
        },
        animationEnabled: true,
        axisX: {
          gridColor: "Silver",
          tickColor: "silver",
        },
        toolTip: {
          shared: true
        },
        theme: "theme2",
        axisY: {
          gridColor: "Silver",
          tickColor: "silver"
        },
        legend: {
          verticalAlign: "center",
          horizontalAlign: "right"
        },
        data: [
        {
          type: "line",
          showInLegend: true,
          lineThickness: 3,
          name: "English",
          markerType: "square",
          color: "#DC143C",
          dataPoints: [
                {y: 55, label:  "test 1" },
                {y: 85, label: "test 2" },
                {y: 90, label: "test 3"},
                {y: 70, label: "test 4" },
                {y: 75, label: "test 5"},
                {y: 60, label: "test 6"},
                {y: 85, label: "test 7"}
              ]
          
        },
        {
          type: "line",
          showInLegend: true,
          lineThickness: 3,
          name: "Maths",
          markerType: "square",
          color: "#00008B",
          dataPoints: [
                {y: 86, label:  "test 1" },
                {y: 70, label: "test 2" },
                {y: 56, label: "test 3"},
                {y: 45, label: "test 4" },
                {y: 98, label: "test 5"},
                {y: 89, label: "test 6"},
                {y: 85, label: "test 7"}
              ]
          
        },
        {
          type: "line",
          showInLegend: true,
          lineThickness: 3,
          name: "Science",
          markerType: "square",
          color: "#006400",
          dataPoints: [
                {y: 70, label:  "test 1" },
                {y: 72, label: "test 2" },
                {y: 74, label: "test 3"},
                {y: 76, label: "test 4" },
                {y: 70, label: "test 5"},
                {y: 74, label: "test 6"},
                {y: 76, label: "test 7"}
              ]
          
        },
        {
          type: "line",
          showInLegend: true,
          lineThickness: 3,
          name: "Science",
          markerType: "square",
          color: "#20B2AA",
          dataPoints: [
                {y: 55, label: "test 1" },
                {y: 52, label: "test 2" },
                {y: 64, label: "test 3"},
                {y: 82, label: "test 4" },
                {y: 89, label: "test 5"},
                {y: 74, label: "test 6"},
                {y: 89, label: "test 7"}
              ]
          
        },
        {
          type: "line",
          showInLegend: true,
          lineThickness: 3,
          name: "Social Science",
          markerType: "square",
          color: "#FFA500",
          dataPoints: [
                {y: 89, label: "test 1" },
                {y: 74, label: "test 2" },
                {y: 89, label: "test 3"},
                {y: 60, label: "test 4" },
                {y: 66, label: "test 5"},
                {y: 74, label: "test 6"},
                {y: 89, label: "test 7"}
              ]
          
        },
        {
          type: "line",
          showInLegend: true,
          lineThickness: 3,
          name: "Hindi",
          markerType: "square",
          color: "#8B4513",
          dataPoints: [
                {y: 79, label: "test 1" },
                {y: 74, label: "test 2" },
                {y: 89, label: "test 3"},
                {y: 60, label: "test 4" },
                {y: 66, label: "test 5"},
                {y: 74, label: "test 6"},
                {y: 89, label: "test 7"}
              ]
          
        },
        {
          type: "line",
          showInLegend: true,
          lineThickness: 3,
          name: "Gujarati",
          markerType: "square",
          color: "#6A5ACD",
          dataPoints: [
                {y: 35, label: "test 1" },
                {y: 45, label: "test 2" },
                {y: 55, label: "test 3"},
                {y: 65, label: "test 4" },
                {y: 75, label: "test 5"},
                {y: 85, label: "test 6"},
                {y: 95, label: "test 7"}
              ]
          
        },
        {
          type: "line",
          showInLegend: true,
          lineThickness: 3,
          name: "Computer",
          markerType: "square",
          color: "#800080",
          dataPoints: [
                {y: 40, label: "test 1" },
                {y: 50, label: "test 2" },
                {y: 60, label: "test 3"},
                {y: 70, label: "test 4" },
                {y: 80, label: "test 5"},
                {y: 90, label: "test 6"},
                {y: 99, label: "test 7"}
              ]
          
        }
        
        
        ],
        legend: {
          cursor: "pointer",
          itemclick: function (e) {
            if (typeof (e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
              e.dataSeries.visible = false;
            }
            else {
              e.dataSeries.visible = true;
            }
            chart.render();
          }
        }
      });

      chart.render();
    }
  </script>
  <script src="js/canvasjs.min.js"></script>
	
</head>
<body>
		<div class="header">
			<div class="wrap">
				<div class="header-top">
					<div class="col-md-12">
						<div class="col-md-2">
							<div class="logo">
								<a href="index.html"><img src="images/logo1.png" alt=""/></a>
							</div>
						</div>
						<div class="col-md-8">
							<h2>Organiation Name</h2>
				    	</div>
				    	<div class="col-md-2">
				    		<h4>Welcome Student</h4>
				    	</div>
				    </div>
					<div class="clear"></div>
				</div>
			</div>
			<div class="menu">
				<div class="wrap">
					<div class="top-nav">
					    <ul class="nav">
				        	<li class="active"><a href="index.html">Home</a></li>
							<li><a href="">About Us</a></li>
							<li><a href="">Profile Of Faculty</a></li>
							<li><a href="">Syllabus</a></li>
							<li><a href="">Monthly Schedule</a></li>
							<li><a href="">Toppers</a></li>
							<li><a href="">Contact Us</a></li>
							<li><a href="index.html">Log Out</a></li>
          	
							<div class="clear"></div>
						</ul>
					<div class="clear"></div>
					</div>
			     </div>
			</div>
		</div>
		<div class="container heading m-top">
			<h1>Student Result</h1>
		</div>
		<div class="container result">
			<div class="col-md-12">
			<table class="table table-bordered dataTable" id="sampleTable">
	    	<tbody><tr>
	            <th>
	            	<span class="label label-default" data-toggle="tooltip" data-placement="top" title="" data-original-title="Test">Test</span></th>
	            <th><span class="label label-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="English">English</span></th>
	            <th><span class="label label-success" data-toggle="tooltip" data-placement="top" title="" data-original-title="Maths">Maths</span></th>
	            <th><span class="label label-info" data-toggle="tooltip" data-placement="top" title="" data-original-title="Science">Science</span></th>
	            <th><span class="label label-warning" data-toggle="tooltip" data-placement="top" title="" data-original-title="Social Science">Social Science</span></th>
	            <th><span class="label label-danger" data-toggle="tooltip" data-placement="top" title="" data-original-title="Hindi">Hindi</span></th>
	            <th><span class="label label-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Gujarati">Gujarati</span></th>
	            <th><span class="label label-default" data-toggle="tooltip" data-placement="top" title="" data-original-title="Computer">Computer</span></th>
	            <th><span class="label label-success" data-toggle="tooltip" data-placement="top" title="" data-original-title="Total">Total</span></th>
	    	</tr>
	    	<tr>
	    		<td>Jan</td>
	    		<td>80/100</td>
	    		<td>70/100</td>
	    		<td>60/100</td>
	    		<td>50/100</td>
	    		<td>70/100</td>
	    		<td>80/100</td>
	    		<td>60/100</td>
	    		<td>67.14%</td>

	    	</tr>
	<tr>
	    		<td>Feb</td>
	    		<td>80/100</td>
	    		<td>70/100</td>
	    		<td>60/100</td>
	    		<td>50/100</td>
	    		<td>70/100</td>
	    		<td>80/100</td>
	    		<td>60/100</td>
	    		<td>67.14%</td>

	    	</tr>
	<tr>
	    		<td>March</td>
	    		<td>80/100</td>
	    		<td>70/100</td>
	    		<td>60/100</td>
	    		<td>50/100</td>
	    		<td>70/100</td>
	    		<td>80/100</td>
	    		<td>60/100</td>
	    		<td>67.14%</td>

	    	</tr>
	               
	        		
	    </tbody></table>
	    </div></div>
	    <div class="container m-top">
	    	<div id="chartContainer" style="height: 400px; width: 100%;"></div>
	    </div>
		<div class="footer">
			<div class="wrap">
				<!--<div class="footer-grids">
					 <div class="footer-grid">
						<h3>EXTRAS</h3>
						<p>Ut rutrum neque a mollis laoreet diam enim feuiat dui nec ulacoper quam felis id diam. Nunc ut tortor ligula eu petiu risus. Pelleesque conquat dignissim lacus quis altrcies.</p>
					</div>
					<div class="footer-grid">
						<h3>RECENT POSTS</h3>
						<ul>
							<li><a href="#">Vestibulum felis</a></li>
							<li><a href="#">Mauris at tellus</a></li>
							<li><a href="#">Donec ut lectus</a></li>
							<li><a href="#">vitae interdum</a></li>
						</ul>
					</div>
					<div class="footer-grid">
						<h3>USEFUL INFO</h3>
						<ul>
							<li><a href="#">Hendrerit quam</a></li>
							<li><a href="#">Amet consectetur </a></li>
							<li><a href="#">Iquam hendrerit</a></li>
							<li><a href="#">Donec ut lectus </a></li>
						</ul>
					</div>
					<div class="footer-grid footer-lastgrid">
						<h3>CONTACT US</h3>
						<p>Pelleesque conquat dignissim lacus quis altrcies.</p>
						<div class="footer-grid-address">
							<p>Tel.800-255-9999</p>
							<p>Fax: 1234 568</p>
							<p>Email:<a class="email-link" href="#">email(at)academia.com</a></p>
						</div>
					</div>
					<div class="clear"> </div> 
				</div>-->
				<div class="copy-right">
					<p>Design by <a href="http://w3layouts.com/">W3layouts</a></p>
				</div>
			</div>
		</div>
		<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();   
});
</script>
</body>
</html>
